@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Spartan:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

/* Cabecera */
header nav {
  background-color: #bfbebe;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Spartan", sans-serif;
  box-shadow: 1px 14px 16px -16px rgba(37, 37, 44, 0.212); }
  header nav #nav-logo {
    width: 75px;
    height: 55px; }
  header nav ul {
    list-style-type: none;
    font-size: initial;
    display: flex; }
    header nav ul li {
      list-style: none;
      margin-right: 20px; }
  header nav .navhover a, header nav .navhover a:hover a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s; }
    header nav .navhover a:hover {
      background-size: 100% 1px; }

/* Media Querie */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  header #navegador {
    background: #acaaaa;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .contenidoPflio .coverPflio {
    box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62);
    background-color: rgba(207, 207, 207, 0.26); }
    .contenidoPflio .coverPflio .tituloPflio {
      font-size: 3em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
      .contenidoPflio .coverPflio .tituloPflio:hover {
        font-size: 3.5rem;
        transition: all 0.3s ease-in-out; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column; }
    .contenidopst .pst .align-self {
      margin: 6rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; }
  footer {
    line-height: 3;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer a {
      color: white;
      text-decoration: none; }
    footer p {
      text-align: center; } }

@media screen and (max-width: 576px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenidopst .pst .align-self {
      width: 100%;
      margin: 5rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; } }

/*contenido principal*/
.contenidopst .pst {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .contenidopst .pst .align-self {
    width: 100%;
    margin: 5rem;
    align-self: center; }
    .contenidopst .pst .align-self h1 {
      font-size: 5em;
      font-family: "Playfair Display", serif; }
    .contenidopst .pst .align-self h2 {
      font-size: 3em;
      font-family: "Playfair Display", serif; }
    .contenidopst .pst .align-self p {
      font-size: 1em;
      font-family: "Spartan", sans-serif; }
  .contenidopst .pst #carouselExampleFade {
    box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384); }

/* Media Querie */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  header #navegador {
    background: #acaaaa;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .contenidoPflio .coverPflio {
    box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62);
    background-color: rgba(207, 207, 207, 0.26); }
    .contenidoPflio .coverPflio .tituloPflio {
      font-size: 3em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
      .contenidoPflio .coverPflio .tituloPflio:hover {
        font-size: 3.5rem;
        transition: all 0.3s ease-in-out; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column; }
    .contenidopst .pst .align-self {
      margin: 6rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; }
  footer {
    line-height: 3;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer a {
      color: white;
      text-decoration: none; }
    footer p {
      text-align: center; } }

@media screen and (max-width: 576px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenidopst .pst .align-self {
      width: 100%;
      margin: 5rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; } }

/*porfolio*/
.contenidoPflio .coverPflio {
  box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62);
  background-color: rgba(207, 207, 207, 0.26); }
  .contenidoPflio .coverPflio .tituloPflio {
    font-size: 6em;
    font-family: "Spartan", sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
    .contenidoPflio .coverPflio .tituloPflio:hover {
      font-size: 6.5rem;
      transition: all 0.3s ease-in-out; }

.contenidoPflio .pflio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 207, 207, 0.26); }
  .contenidoPflio .pflio h2 {
    font-size: 3em;
    font-family: "Playfair Display", serif;
    margin: 3rem;
    padding: 20px 0 20px 0; }
  .contenidoPflio .pflio p {
    font-size: 2em;
    font-family: "Spartan", sans-serif;
    margin: 1rem;
    align-self: center; }
  .contenidoPflio .pflio #portadas {
    margin-right: 20px; }
  .contenidoPflio .pflio #portadasImg {
    overflow: hidden;
    position: relative;
    margin-right: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 1rem; }
    .contenidoPflio .pflio #portadasImg:hover {
      transform: scale(1.1);
      box-shadow: 13px 15px 37px black; }
    .contenidoPflio .pflio #portadasImg .animaImagen, .contenidoPflio .pflio #portadasImg .animaImagen:hover {
      background-color: rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: rgba(37, 37, 44, 0.212); }
      .contenidoPflio .pflio #portadasImg .animaImagen:hover {
        filter: opacity(0.9);
        transform: scale(1.04); }
    .contenidoPflio .pflio #portadasImg .tituloPortada {
      font-size: 3em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
    .contenidoPflio .pflio #portadasImg .descripcionPortada {
      font-size: 1.2em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.849); }
  .contenidoPflio .pflio #bloqueSeparador {
    line-height: 3;
    background-color: #0F0F0F;
    color: #FAF9F9;
    margin: 30px 0 0 0; }
  .contenidoPflio .pflio .pflioFondo {
    background-image: url(../img/fondoSbrmiV2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%; }
    .contenidoPflio .pflio .pflioFondo p {
      padding: 40px 0 20px 0; }
    .contenidoPflio .pflio .pflioFondo #instaPerfil {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 20px 0 60px; }

.contenidoPflio .centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2em;
  font-family: "Spartan", sans-serif;
  color: #F0F0F0; }

/*personal,street,casual - galeria*/
.breadcrumbGallery {
  padding-top: 1rem;
  margin: 2rem;
  font-size: 1.4em;
  font-family: "Spartan", sans-serif; }

.containerGallery {
  margin-bottom: 6rem;
  margin-right: 2rem;
  width: 100%; }
  .containerGallery h2 {
    font-size: 3em;
    font-family: "Playfair Display", serif;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .containerGallery .content-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense; }
  .containerGallery .gallery__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212324;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .containerGallery .gallery__item:hover {
      filter: opacity(0.9);
      transform: scale(1.04); }
  .containerGallery #bloqueGallery {
    background-color: rgba(0, 0, 0, 0.2); }

@media (min-width: 600px) {
  .wide {
    grid-column: span 2; }
  .tall {
    grid-row: span 2; } }

/*pie de pagina*/
footer {
  line-height: 3;
  background-color: #0F0F0F;
  color: #FAF9F9; }
  footer div section .btn {
    padding: 2rem;
    margin: 1rem;
    margin-left: 3rem;
    background-color: #131212;
    color: #F0F0F0;
    text-decoration: none;
    font-size: 1em;
    border-radius: 25px;
    line-height: 0; }
  footer .barracopy {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    font-family: "Spartan", sans-serif; }

/* Media Querie */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  header #navegador {
    background: #acaaaa;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .contenidoPflio .coverPflio {
    box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62);
    background-color: rgba(207, 207, 207, 0.26); }
    .contenidoPflio .coverPflio .tituloPflio {
      font-size: 3em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
      .contenidoPflio .coverPflio .tituloPflio:hover {
        font-size: 3.5rem;
        transition: all 0.3s ease-in-out; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column; }
    .contenidopst .pst .align-self {
      margin: 6rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; }
  footer {
    line-height: 3;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer a {
      color: white;
      text-decoration: none; }
    footer p {
      text-align: center; } }

@media screen and (max-width: 576px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenidopst .pst .align-self {
      width: 100%;
      margin: 5rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; } }

/*Grid*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header"  "main   main"    "footer footer"; }
  .contenedor header {
    grid-area: header; }
  .contenedor main {
    grid-area: main; }
  .contenedor footer {
    grid-area: footer; }

/*Media querie*/
@media screen and (min-width: 768px) {
  .contenedor {
    grid-template-areas: "header header"  "main   main"    "footer footer"; }
    .contenedor .contenido {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      flex-direction: column; }
      .contenedor .contenido img {
        width: 100%; } }

/* Media Querie */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  header #navegador {
    background: #acaaaa;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .contenidoPflio .coverPflio {
    box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62);
    background-color: rgba(207, 207, 207, 0.26); }
    .contenidoPflio .coverPflio .tituloPflio {
      font-size: 3em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
      .contenidoPflio .coverPflio .tituloPflio:hover {
        font-size: 3.5rem;
        transition: all 0.3s ease-in-out; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column; }
    .contenidopst .pst .align-self {
      margin: 6rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; }
  footer {
    line-height: 3;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer a {
      color: white;
      text-decoration: none; }
    footer p {
      text-align: center; } }

@media screen and (max-width: 576px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenidopst .pst .align-self {
      width: 100%;
      margin: 5rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; } }

/*contratar*/
.contenidoCntrar #carouselSlideCntrar {
  box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62); }
  .contenidoCntrar #carouselSlideCntrar .carousel-item {
    transition: 0.5 ease-in-out left; }
  .contenidoCntrar #carouselSlideCntrar .tituloContratar {
    font-size: 6em;
    font-family: "Spartan", sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
    .contenidoCntrar #carouselSlideCntrar .tituloContratar:hover {
      font-size: 7em;
      transition: all 0.3s ease-in-out; }

.contenidoCntrar .groupCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  margin: 3rem; }
  .contenidoCntrar .groupCards .animaCard1 {
    animation: fadeInUp;
    animation-duration: 0.8s; }
  .contenidoCntrar .groupCards .animaCard2 {
    animation: fadeInUp;
    animation-duration: 1.2s; }
  .contenidoCntrar .groupCards .animaCard3 {
    animation: fadeInUp;
    animation-duration: 1.5s; }
  .contenidoCntrar .groupCards .cardcntrar {
    width: 33rem;
    font-family: "Spartan", sans-serif;
    box-shadow: 0px 6px 18px -4px rgba(0, 0, 0, 0.33);
    border: 1px solid #d1cfcf;
    border-radius: 19px 19px 11px 11px;
    padding-bottom: 15px; }
    .contenidoCntrar .groupCards .cardcntrar .card-img-top {
      border-radius: 19px 19px 0px 0px;
      box-shadow: 1px 14px 16px -16px rgba(37, 37, 44, 0.212); }
    .contenidoCntrar .groupCards .cardcntrar .card-title {
      font-size: 2em;
      font-family: "Playfair Display", serif;
      padding: 10px; }
    .contenidoCntrar .groupCards .cardcntrar .card-text {
      font-size: 1.4em;
      padding: 4px; }
    .contenidoCntrar .groupCards .cardcntrar ol {
      list-style-type: disc;
      padding-bottom: 10px; }
      .contenidoCntrar .groupCards .cardcntrar ol li {
        font-size: 1.4em;
        padding-bottom: 5px; }
    .contenidoCntrar .groupCards .cardcntrar #btncntrar {
      background: #545454;
      background-image: linear-gradient(to bottom, #545454, #292929);
      border-radius: 25px;
      text-shadow: 1px 2px 3px #363636;
      box-shadow: 1px 1px 3px #8f8f8f;
      font-family: "Spartan", sans-serif;
      color: #ffffff;
      font-size: 1.5em;
      background: #333333;
      padding: 10px 20px 10px 20px;
      text-decoration: none; }
      .contenidoCntrar .groupCards .cardcntrar #btncntrar:hover {
        background: #1a1a1a;
        background-image: linear-gradient(to bottom, #1a1a1a #333333);
        text-decoration: none; }
      .contenidoCntrar .groupCards .cardcntrar #btncntrar:active {
        position: relative;
        top: 1px; }

.contenidoCntrar #bloqueSeparadorCntrar {
  font-family: "Playfair Display", serif;
  background-color: #0F0F0F;
  color: #FAF9F9;
  padding: 3rem; }
  .contenidoCntrar #bloqueSeparadorCntrar .textoBloque {
    font-size: 3em; }

.contenidoCntrar .accordionFondo {
  background-image: url(../img/fondoSbrmiV2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden; }
  .contenidoCntrar .accordionFondo .accordion {
    padding: 2rem;
    margin: 5rem;
    box-shadow: 0px 10px 21px -14px rgba(0, 0, 0, 0.15);
    background-color: white; }
    .contenidoCntrar .accordionFondo .accordion .accordion-header .accordion-button {
      font-family: "Playfair Display", serif;
      font-size: 1em;
      padding: 3rem; }
    .contenidoCntrar .accordionFondo .accordion .accordion-body {
      font-family: "Spartan", sans-serif;
      font-size: 1.5em;
      line-height: 2.7rem;
      padding: 3rem; }

/* Media Querie */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  header #navegador {
    background: #acaaaa;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .contenidoPflio .coverPflio {
    box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62);
    background-color: rgba(207, 207, 207, 0.26); }
    .contenidoPflio .coverPflio .tituloPflio {
      font-size: 3em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
      .contenidoPflio .coverPflio .tituloPflio:hover {
        font-size: 3.5rem;
        transition: all 0.3s ease-in-out; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column; }
    .contenidopst .pst .align-self {
      margin: 6rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; }
  footer {
    line-height: 3;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer a {
      color: white;
      text-decoration: none; }
    footer p {
      text-align: center; } }

@media screen and (max-width: 576px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenidopst .pst .align-self {
      width: 100%;
      margin: 5rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; } }

/* Sobre mi */
.contenidoSbrmi {
  overflow: hidden; }
  .contenidoSbrmi .sbrmi {
    display: flex;
    flex-direction: row;
    padding: 80px 40px 60px 300px; }
    .contenidoSbrmi .sbrmi .imgSbrmi img {
      border-radius: 20px;
      box-shadow: 11px 15px 24px -4px rgba(0, 0, 0, 0.25);
      width: 40rem;
      height: 45rem; }
    .contenidoSbrmi .sbrmi .textSbrmi {
      background-color: rgba(255, 255, 255, 0.651);
      margin: 2rem; }
      .contenidoSbrmi .sbrmi .textSbrmi h3 {
        font-size: 3rem;
        font-family: "Playfair Display", serif;
        width: 50%;
        padding-bottom: 2rem;
        animation: fadeIn;
        animation-duration: 2s; }
      .contenidoSbrmi .sbrmi .textSbrmi p {
        font-size: 1.6rem;
        font-family: "Spartan", sans-serif;
        width: 50%;
        animation: fadeIn;
        animation-duration: 3s; }
        .contenidoSbrmi .sbrmi .textSbrmi p a {
          font-weight: 500;
          color: black; }
  .contenidoSbrmi .redesSbrmi h2 {
    font-size: 3em;
    font-family: "Playfair Display", serif;
    padding-bottom: 20px;
    margin-left: 30px; }
  .contenidoSbrmi .redesSbrmi .iconosRedes img {
    height: 5rem;
    width: 5rem;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5rem;
    margin-left: 4rem; }
    .contenidoSbrmi .redesSbrmi .iconosRedes img:hover {
      transform: scale(1.1); }
  .contenidoSbrmi #bloqueSeparadorSbrmi {
    line-height: 3;
    background-color: #0F0F0F;
    color: #FAF9F9;
    font-family: "Playfair Display", serif;
    padding: 3rem; }
    .contenidoSbrmi #bloqueSeparadorSbrmi h2 {
      font-size: 3em; }
  .contenidoSbrmi .cardFondo {
    background-image: url(../img/fondoSbrmiV2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .contenidoSbrmi .cardFondo .cardPosition1 {
      padding: 50px 40px 10px 150px;
      animation: fadeInLeft;
      animation-duration: 4s; }
      .contenidoSbrmi .cardFondo .cardPosition1 .cardSbrmi {
        font-family: "Spartan", sans-serif;
        box-shadow: 0px 6px 18px -4px rgba(0, 0, 0, 0.33);
        border: 1px solid #d1cfcf8c;
        border-radius: 19px 19px 19px 19px;
        background-color: white; }
        .contenidoSbrmi .cardFondo .cardPosition1 .cardSbrmi .imgSbrmi {
          border-radius: 19px 0px 0px 19px;
          box-shadow: 1px 14px 16px -16px rgba(37, 37, 44, 0.212); }
        .contenidoSbrmi .cardFondo .cardPosition1 .cardSbrmi .card-body .card-title {
          font-size: 2em;
          font-family: "Playfair Display", serif;
          padding: 10px; }
        .contenidoSbrmi .cardFondo .cardPosition1 .cardSbrmi .card-body .card-text {
          font-size: 1.4em;
          padding: 4px; }
    .contenidoSbrmi .cardFondo .cardPosition2 {
      padding: 20px 40px 10px 700px;
      animation: fadeInRight;
      animation-duration: 5s; }
      .contenidoSbrmi .cardFondo .cardPosition2 .cardSbrmi {
        font-family: "Spartan", sans-serif;
        box-shadow: 0px 6px 18px -4px rgba(0, 0, 0, 0.33);
        border: 1px solid #d1cfcf8c;
        border-radius: 19px 19px 19px 19px;
        background-color: white; }
        .contenidoSbrmi .cardFondo .cardPosition2 .cardSbrmi .imgSbrmi {
          border-radius: 19px 0px 0px 19px;
          box-shadow: 1px 14px 16px -16px rgba(37, 37, 44, 0.212); }
        .contenidoSbrmi .cardFondo .cardPosition2 .cardSbrmi .card-body .card-title {
          font-size: 2em;
          font-family: "Playfair Display", serif;
          padding: 10px; }
        .contenidoSbrmi .cardFondo .cardPosition2 .cardSbrmi .card-body .card-text {
          font-size: 1.4em;
          padding: 4px; }
    .contenidoSbrmi .cardFondo .cardPosition3 {
      padding: 20px 40px 50px 150px;
      animation: fadeInLeft;
      animation-duration: 6s; }
      .contenidoSbrmi .cardFondo .cardPosition3 .cardSbrmi {
        font-family: "Spartan", sans-serif;
        box-shadow: 0px 6px 18px -4px rgba(0, 0, 0, 0.33);
        border: 1px solid #d1cfcf8c;
        border-radius: 19px 19px 19px 19px;
        background-color: white; }
        .contenidoSbrmi .cardFondo .cardPosition3 .cardSbrmi .imgSbrmi {
          border-radius: 19px 0px 0px 19px;
          box-shadow: 1px 14px 16px -16px rgba(37, 37, 44, 0.212); }
        .contenidoSbrmi .cardFondo .cardPosition3 .cardSbrmi .card-body .card-title {
          font-size: 2em;
          font-family: "Playfair Display", serif;
          padding: 10px; }
        .contenidoSbrmi .cardFondo .cardPosition3 .cardSbrmi .card-body .card-text {
          font-size: 1.4em;
          padding: 4px; }

/* Media Querie */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  header #navegador {
    background: #acaaaa;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .contenidoPflio .coverPflio {
    box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62);
    background-color: rgba(207, 207, 207, 0.26); }
    .contenidoPflio .coverPflio .tituloPflio {
      font-size: 3em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
      .contenidoPflio .coverPflio .tituloPflio:hover {
        font-size: 3.5rem;
        transition: all 0.3s ease-in-out; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column; }
    .contenidopst .pst .align-self {
      margin: 6rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; }
  footer {
    line-height: 3;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer a {
      color: white;
      text-decoration: none; }
    footer p {
      text-align: center; } }

@media screen and (max-width: 576px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenidopst .pst .align-self {
      width: 100%;
      margin: 5rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; } }

/* Contacto */
.contenidoContc {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  background-image: url(../img/fondoSbrmiV2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden; }
  .contenidoContc .contcFondo .textForm {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 4rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .contenidoContc .contcFondo form {
    padding: 30px 0 0 0 0; }
    .contenidoContc .contcFondo form .form-row {
      display: flex;
      margin: 32px 0;
      padding: 10px; }
      .contenidoContc .contcFondo form .form-row .input-data {
        width: 100%;
        height: 30px;
        margin: 0 20px;
        position: relative; }
        .contenidoContc .contcFondo form .form-row .input-data input {
          display: block;
          height: 100%;
          width: 100%;
          border: none;
          font-size: 17px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.12); }
        .contenidoContc .contcFondo form .form-row .input-data label {
          position: absolute;
          bottom: 40px;
          pointer-events: none;
          font-size: 16px; }
      .contenidoContc .contcFondo form .form-row .textarea {
        height: 70px;
        width: 100%;
        margin: 0 20px;
        position: relative; }
        .contenidoContc .contcFondo form .form-row .textarea textarea {
          display: block;
          height: 100%;
          width: 100%;
          border: none;
          font-size: 17px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.12);
          resize: none; }
        .contenidoContc .contcFondo form .form-row .textarea .textLarge {
          position: absolute;
          bottom: 40px;
          pointer-events: none;
          font-size: 16px; }
    .contenidoContc .contcFondo form .form-row-btn {
      display: flex;
      justify-content: center;
      margin: 32px 0;
      padding: 10px; }
      .contenidoContc .contcFondo form .form-row-btn .submit-btn {
        padding-bottom: 10px; }
        .contenidoContc .contcFondo form .form-row-btn .submit-btn .input-data-btn {
          width: 100%;
          height: 30px;
          position: relative;
          text-decoration: none; }
          .contenidoContc .contcFondo form .form-row-btn .submit-btn .input-data-btn input {
            font-size: 2em;
            font-family: "Poppins", sans-serif;
            background: #545454;
            background-image: linear-gradient(to bottom, #545454, #292929);
            border-radius: 30px;
            padding: 15px 40px 15px 40px;
            text-shadow: 1px 2px 3px #363636;
            box-shadow: 1px 1px 3px #8f8f8f;
            font-family: "Spartan", sans-serif;
            color: #ffffff;
            background: #333333;
            text-decoration: none; }
            .contenidoContc .contcFondo form .form-row-btn .submit-btn .input-data-btn input:hover {
              background: #1a1a1a;
              background-image: linear-gradient(to bottom, #1a1a1a #333333);
              text-decoration: none; }
            .contenidoContc .contcFondo form .form-row-btn .submit-btn .input-data-btn input:active {
              position: relative;
              top: 1px; }

.bodyForm {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); }

.containerForm {
  background: #fff;
  width: 800px;
  max-width: 800px;
  padding: 25px 50px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .containerForm .textForm {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .containerForm form {
    padding: 30px 0 0 0 0; }
    .containerForm form .form-row {
      display: flex;
      margin: 32px 0;
      padding: 10px; }
      .containerForm form .form-row .input-data {
        width: 100%;
        height: 30px;
        margin: 0 20px;
        position: relative; }
        .containerForm form .form-row .input-data input {
          display: block;
          height: 100%;
          width: 100%;
          border: none;
          font-size: 17px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.12); }
        .containerForm form .form-row .input-data label {
          position: absolute;
          bottom: 40px;
          pointer-events: none;
          font-size: 16px; }
      .containerForm form .form-row .textarea {
        height: 70px;
        width: 100%;
        margin: 0 20px;
        position: relative; }
        .containerForm form .form-row .textarea textarea {
          display: block;
          height: 100%;
          width: 100%;
          border: none;
          font-size: 17px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.12);
          resize: none; }
        .containerForm form .form-row .textarea .textLarge {
          position: absolute;
          bottom: 40px;
          pointer-events: none;
          font-size: 16px; }
    .containerForm form .form-row-btn {
      display: flex;
      margin: 32px 0;
      padding: 10px;
      padding: 10px 0 10px 310px; }
      .containerForm form .form-row-btn .submit-btn {
        padding-bottom: 10px; }
        .containerForm form .form-row-btn .submit-btn .input-data-btn {
          width: 100%;
          height: 30px;
          position: relative;
          text-decoration: none; }
          .containerForm form .form-row-btn .submit-btn .input-data-btn input {
            text-decoration: none;
            font-size: 2em;
            font-family: "Poppins", sans-serif;
            background: #545454;
            background-image: linear-gradient(to bottom, #545454, #292929);
            border-radius: 25px;
            text-shadow: 1px 2px 3px #363636;
            box-shadow: 1px 1px 3px #8f8f8f;
            font-family: "Spartan", sans-serif;
            color: #ffffff;
            background: #333333;
            padding: 20px 50px 20px 50px;
            text-decoration: none; }
            .containerForm form .form-row-btn .submit-btn .input-data-btn input:hover {
              background: #1a1a1a;
              background-image: linear-gradient(to bottom, #1a1a1a #333333);
              text-decoration: none; }
            .containerForm form .form-row-btn .submit-btn .input-data-btn input:active {
              position: relative;
              top: 1px; }

/* Media Querie */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  header #navegador {
    background: #acaaaa;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .contenidoPflio .coverPflio {
    box-shadow: 0px 7px 19px -11px rgba(0, 0, 0, 0.62);
    background-color: rgba(207, 207, 207, 0.26); }
    .contenidoPflio .coverPflio .tituloPflio {
      font-size: 3em;
      font-family: "Spartan", sans-serif;
      color: white;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.863); }
      .contenidoPflio .coverPflio .tituloPflio:hover {
        font-size: 3.5rem;
        transition: all 0.3s ease-in-out; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column; }
    .contenidopst .pst .align-self {
      margin: 6rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; }
  footer {
    line-height: 3;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer a {
      color: white;
      text-decoration: none; }
    footer p {
      text-align: center; } }

@media screen and (max-width: 576px) {
  .contenedor {
    grid-template-areas: "header header" "main   main" "footer footer"; }
  .contenidopst .pst {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenidopst .pst .align-self {
      width: 100%;
      margin: 5rem;
      align-self: center; }
      .contenidopst .pst .align-self h1 {
        font-size: 5em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self h2 {
        font-size: 3em;
        font-family: "Playfair Display", serif; }
      .contenidopst .pst .align-self p {
        font-size: 1em;
        font-family: "Spartan", sans-serif; }
    .contenidopst .pst #carouselExampleFade {
      box-shadow: -26px 7px 40px -33px rgba(0, 0, 0, 0.384);
      width: 100%; } }
