@import "_mediaqueries.scss";

/*Grid*/

.contenedor{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
	"header header" 
	"main   main"   
	"footer footer" ;

    header{
        grid-area: header;
    }

    main{
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

}

 

/*Media querie*/

@media screen and (min-width: $tablets) {
    .contenedor {
		grid-template-areas: 
		"header header" 
		"main   main"   
		"footer footer";

        .contenido{
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            flex-direction: column;

            img{
                width: 100%;
            }
        }
	}

    
}