// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Spartan:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$fontMain: 'Spartan', sans-serif;
$fontSecondary: 'Playfair Display', serif;
$fontThird: 'Poppins', sans-serif;

$text3xl: 7em;
$text2xl: 6em;
$textXxl: 5em;
$textXl: 4em;
$textLg: 3em;
$textMg: 2em;
$textSmV4: 1.5em;
$textSmV3: 1.4em;
$textSmV2: 1.2em;
$textSm: 1em;