//Media queries

$smartphone: 576px;
$tablets: 768px;
$desktop: 1200px;



/* Media Querie */

@media screen and (max-width: $tablets) {
	.contenedor {
		grid-template-areas:
			"header header"
			"main   main"
			"footer footer";
	}


	header {
		#navegador {
			background: #acaaaa;
			padding: 5px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;


			.nav-logo {}

			#navbarNavDropdown {}
		}


	}

	// Porfolio

	.contenidoPflio {

		.coverPflio {
			box-shadow: map-get($map:$shadow, $key:'sh5');
			background-color: $color-nineth;


			img {}


			.tituloPflio {
				font-size: $textLg;
				font-family: $fontMain;
				color: white;
				position: absolute;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-shadow: 0 0 8px rgba(0, 0, 0, 0.863);

				&:hover {
					font-size: 3.5rem;
					transition: all 0.3s ease-in-out;
				}
			}

		}
	}



// Presentacion


	.contenidopst {

		.pst {
			display: flex;
			flex-direction: column;



			.align-self {

				margin: 6rem;
				align-self: center;


				h1 {
					font-size: $textXxl;
					font-family: $fontSecondary;
				}

				h2 {
					font-size: $textLg;
					font-family: $fontSecondary;
				}

				p {
					font-size: $textSm;
					font-family: $fontMain;
				}
			}

			#carouselExampleFade {
				box-shadow: map-get($map:$shadow, $key:'sh2');
				width: 100%;
			}

		}

	}








	footer {
		line-height: 3;
		background-color: #0f0f0f;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		a {
			color: white;
			text-decoration: none;
		}

		p {
			text-align: center;
		}
	}

}

@media screen and (max-width: $smartphone) {
	.contenedor {
		grid-template-areas:
			"header header"
			"main   main"
			"footer footer";
	}

	.contenidopst {

		.pst {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.align-self {
				width: 100%;
				margin: 5rem;
				align-self: center;


				h1 {
					font-size: $textXxl;
					font-family: $fontSecondary;
				}

				h2 {
					font-size: $textLg;
					font-family: $fontSecondary;
				}

				p {
					font-size: $textSm;
					font-family: $fontMain;
				}
			}

			#carouselExampleFade {
				box-shadow: map-get($map:$shadow, $key:'sh2');
				width: 100%;
			}

		}



	}

}