@import "variables.scss";
@import "_mediaqueries.scss";

/*porfolio*/

.contenidoPflio {

    .coverPflio {
        box-shadow: map-get($map:$shadow, $key:'sh5');
        background-color: $color-nineth;


        img {}



        .tituloPflio {
            font-size: $textXxl;
            font-family: $fontMain;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.863);

            &:hover {
                font-size: $text2xl;
                transition: all 0.3s ease-in-out;
            }
        }

    }

    .pflio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-nineth;

        h2 {
            font-size: $textLg;
            font-family: $fontSecondary;
            margin: 3rem;
            padding: 20px 0 20px 0;
        }

        p {
            font-size: $textMg;
            font-family: $fontMain;
            margin: 1rem;
            align-self: center;
        }

        #portadas {
            margin-right: 20px;
        }

        #portadasImg {
            overflow: hidden;
            position: relative;
            margin-right: 40px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            padding: 1rem;

            &:hover {
                transform: scale(1.1);
                box-shadow: 13px 15px 37px black;
            }

            .animaImagen {
                background-color: $color-sixth;
                transition: transform 0.3s ease-in-out;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                box-shadow: $color-eigth;

                &:hover {
                    @extend .animaImagen;
                    filter: opacity(0.9);
                    transform: scale(1.04);
                }
            }

            .tituloPortada {
                font-size: $textLg;
                font-family: $fontMain;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-shadow: 0 0 8px rgba(0, 0, 0, 0.863);
            }

            .descripcionPortada {
                font-size: $textSmV2;
                font-family: $fontMain;
                color: white;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-shadow: 0 0 8px rgba(0, 0, 0, 0.849);
            }


        }

        #bloqueSeparador {
            line-height: 3;
            background-color: $color-secondary;
            color: $color-third;
            margin: 30px 0 0 0;
        }

        .pflioFondo {
            background-image: url(../img/fondoSbrmiV2.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            overflow: hidden;
            width: 100%;

            p {
                padding: 40px 0 20px 0;
            }

            #instaPerfil {
                display: flex;
                justify-content: center;
                align-content: center;
                margin: 20px 0 60px;


            }


        }


    }


}



/*personal,street,casual - galeria*/

.breadcrumbGallery {
    padding-top: 1rem;
    margin: 2rem;
    font-size: $textSmV3;
    font-family: $fontMain;

}


.containerGallery {
    margin-bottom: 6rem;
    margin-right: 2rem;
    width: 100%;

    h2 {
        font-size: $textLg;
        font-family: $fontSecondary;
        margin: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
    }

    .gallery__item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #212324;
        transition: transform 0.3s ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
            filter: opacity(0.9);
            transform: scale(1.04);
        }
    }

    #bloqueGallery {
        background-color: $color-sixth;
    }
}

@media (min-width: 600px) {
    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
}