// Variables

$color-primary: #bfbebe;
$color-secondary: #0F0F0F;
$color-third: #FAF9F9;
$color-forth: #131212;
$color-fifth: #F0F0F0;
$color-sixth: rgba(0, 0, 0, 0.2);
$color-seventh: rgba(255, 255, 255, 0.651);
$color-eigth: rgba(37, 37, 44, 0.212);
$color-nineth: rgba(207, 207, 207, 0.26);


$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;


// MEDIDAS MEDIAS QUERIES

$smartphone: 540px;
$tablets: 768px;
$desktop: 1024px;

//Maps

$shadow:(
 'sh1': 1px 14px 16px -16px $color-eigth,
 'sh2': -26px 7px 40px -33px rgba(0, 0, 0, 0.384),
 'sh3': 11px 15px 24px -4px rgba(0,0,0,0.25),
 'sh4': 11px 15px 24px -4px rgba(0,0,0,0.15),
 'sh5': 0px 7px 19px -11px rgba(0,0,0,0.62),
 'sh6': 0px 6px 18px -4px rgba(0,0,0,0.33),
 'sh7': 0px 10px 21px -14px rgba(0,0,0,0.15),
)
;

//Mixin

@mixin p-m($padding,$margin){
    padding:$padding; 
    margin:$margin;
   }
   

