@import "_variables.scss";
@import "_fonts.scss";
@import "_global.scss";

@import "_header.scss";
@import "_presentacion.scss";
@import "_porfolio.scss";
@import "_footer.scss";
@import "_contenedor.scss";
@import "_contratar.scss";
@import "_sobremi.scss";
@import "_contacto.scss";
@import "_prueba-form.scss";

@import "_mediaqueries.scss";
